aiofiles==0.6.0
aiohttp==3.7.3
aiozaneapi==1.5
astroid==2.4.2
astunparse==1.6.3
Async-OAuthlib==0.0.9
async-timeout==3.0.1
asyncio==3.4.3
asyncpg==0.22.0
asyncpraw==7.1.1
asyncprawcore==1.5.1
attrs==20.3.0
backoff==1.10.0
beautifulsoup4==4.9.3
blinker==1.4
braceexpand==0.1.6
bs4==0.0.1
build==0.2.0
buttons==0.1.9
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
create-package==1.0.2
DateTime==4.3
dblpy==0.4.0
discord==1.0.1
discord-ext-ipc==1.0
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@6f2b873bf0d28903eb752aa1166b3aac26dc9007
discord-flags==2.1.1
discord-py-slash-command==1.0.8.5
discord.py @ git+https://github.com/Rapptz/discord.py@a0404807d5e20ad6a5fae52e5d3a51cbba8e0c63
discordbotdash==1.2.2
DiscordGame==2020.8.25.5
discordlists.py==1.1.1
disputils==0.1.3
e==1.4.5
enhanced-dpy==1.6.0.6
example-pypi-package==0.1.0
Flask==1.1.2
Flask-Discord==0.1.64
futures==3.1.1
goslate==1.5.1
h11==0.12.0
h2==4.0.0
hpack==4.0.0
humanize==3.2.0
Hypercorn==0.11.2
hyperframe==6.0.0
idna==2.10
import-expression==1.1.4
iniconfig==1.1.1
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
jishaku @ git+https://github.com/Gorialis/jishaku@25fbb67017bc99ae0eca7f7c43a48f130133f8fa
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
motor==2.3.0
multidict==5.1.0
mystbin.py==1.0.1
oauthlib==3.1.0
owotext==1.1.1
packaging==20.9
pep517==0.9.1
Pillow==8.1.0
pluggy==0.13.1
praw==7.1.4
prawcore==1.5.0
priority==1.3.0
psutil==5.8.0
py==1.10.0
pycparser==2.20
PyJWT==2.0.1
pylint==2.6.0
pymongo==3.11.2
pyparsing==2.4.7
pytest==6.2.2
Python-dev==2.0.0.dev0
pytz==2020.5
PyYAML==5.4.1
qrcode==6.1
Quart==0.14.1
Quart-Discord==2.1.4
ratelimiter==1.2.0.post0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
soupsieve==2.1
spotify==0.10.2
toml==0.10.2
tornado==6.1
typing-extensions==3.7.4.3
update-checker==0.18.0
urllib3==1.26.2
websocket-client==0.57.0
Werkzeug==1.0.1
wikipedia==1.4.0
wrapt==1.12.1
wsproto==1.0.0
yarl==1.6.3
zope.interface==5.2.0
